<table class="table mt-2">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">KeyWord</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length;i++) {%>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= data[i].keyword %></td>
                <td><%= data[i].description %></td>
                <td><%= data[i].date %></td>
                <td><%= data[i].author %></td>
            </tr>
        <% }%>
        </tbody>
    </table>
