<table class="table mt-2">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">영문명</th>
            <th scope="col">한글명</th>
            <th scope="col">최종수정일</th>
            <th scope="col">Author</th>
            <th scope="col">수정/삭제</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length;i++) {%>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td class="eng"><%= data[i].keywordEng %></td>
                <td class="kor"><%= data[i].keywordKor %></td>
                <td><%= data[i].date %></td>
                <td><%= data[i].author %></td>
                <td>
                    <button type="button" id="showModifyBtn" class="btn btn-outline-dark btn-sm"
                            data-toggle="modal" data-target="#modifyModal"
                            data-keywordEng="<%= data[i].keywordEng %>"
                            data-keywordKor="<%= data[i].keywordKor %>"
                            data-author="<%= data[i].author %>"
                    >
                        수정
                    </button>
                    <button type="button" id="showDeleteBtn" class="btn btn-outline-dark btn-sm"
                            data-toggle="modal" data-target= "#deleteModal"
                            data-keyword="<%= data[i].keywordEng %>"
                    >
                        삭제
                    </button>
                </td>
            </tr>
        <% }%>
        </tbody>
    </table>
